@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* body *:not([data-testid="stIconMaterial"]):not([data-testid="stExpanderIcon"]) {
    font-family: 'Roboto', sans-serif !important;
} */

body *:not([data-testid="stIconMaterial"]):not([data-testid="stExpanderIcon"]):not([aria-label="attachment icon"]):not([aria-label="face icon"]):not([aria-label="smart_toy icon"]) {
    font-family: 'Roboto', sans-serif !important;
}